extends layout

block head
    title= '付款'
block title1
    h2(align='center' style='color:#ffffff')
        | 请选择付款方式
block sidebar
    include sidebar1
block content
    div.box
        span(style='background-color:#EFF0F0')
            img(src='images/img1.jpg' width='300px' height='300px')
            h3(align='center')
                | 支付宝扫码付款
        span(style='background-color:#EFF0F0')
            img(src='images/img1.jpg' width='300px' height='300px')
            h3(align='center')
                | 微信扫码付款
        span(style='background-color:#EFF0F0')
            img(src='images/img1.jpg' width='300px' height='300px')
            h3(align='center')
                | 银联扫码付款
        span(style='background-color:#EFF0F0')
            img(src='images/img1.jpg' width='300px' height='300px')
            h3(align='center')
                | 银联扫码付款
        span(style='background-color:#EFF0F0')
            img(src='images/img1.jpg' width='300px' height='300px')
            h3(align='center')
                | 银联扫码付款